@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-1000px);
  }
}
.slider {
  width: 100vw;
  height: 150px;
  display: block;
  margin-left: -50vw;
  left: 50%;
  position: relative;
  overflow: hidden;
}
.slider::before, .slider::after {
  content: "";
  height: 100px;
  position: absolute;
  width: 200px;
  z-index: 2;
}
.slider::after {
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
}
.slider::before {
  left: 0;
  top: 0;
}
.slider .slide-track {
  animation: scroll 10s linear infinite;
  display: flex;
  align-items: center;
  gap: 250px;
  width: 2000px;
}
.slider .slide-track .slide img {
  width: 250px;
  height: 125px;
}

:root {
  --color-black: #151515;
  --color-white: #fff;
  --color-gray: #D5D5D5;
  --text-accent-dark: #5F5F5F;
  --text-accent-light: #9B9B9B;
}

body {
  margin: 0;
  padding: 0;
  background: #fff;
  color: var(--color-black);
  font-family: "Inter";
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -1.2px;
}
body::-webkit-scrollbar {
  width: 0 !important;
}

section,
.section {
  margin-top: 180px;
}

.container {
  max-width: 1480px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 20px;
}

a {
  text-decoration: none;
  color: inherit;
  background-image: linear-gradient(var(--color-gray), var(--color-black));
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  transition: background-size 0.4s;
  transition: 0.4s ease-in-out;
}
a:hover {
  background-size: 100% 2px;
}

.active-link {
  background: none;
  border-bottom: 3px solid var(--color-black);
}

.active-link--light {
  background: none;
  border-bottom: 3px solid var(--color-black);
  border-color: var(--text-accent-light);
}

ul,
ol {
  padding: 0;
  list-style: none;
}

h1,
.h1 {
  font-size: clamp(1.875rem, 0.868rem + 3.79vw, 4.375rem);
  font-weight: 500;
  line-height: clamp(1.875rem, 0.868rem + 3.79vw, 4.375rem);
  letter-spacing: -2.5px;
}

h2,
.h2 {
  font-size: clamp(1.625rem, 0.87rem + 2.84vw, 3.5rem);
  font-weight: 500;
  line-height: clamp(1.625rem, 0.87rem + 2.84vw, 3.5rem);
  letter-spacing: -1.5px;
}

h3,
.h3 {
  font-size: clamp(1.375rem, 1.048rem + 1.23vw, 2.188rem);
  font-weight: 500;
  line-height: clamp(1.375rem, 1.048rem + 1.23vw, 2.188rem);
  letter-spacing: -1px;
}

mark {
  background: none;
}

.mark--light {
  color: var(--text-accent-light);
}

.mark--dark {
  color: var(--text-accent-dark);
}

.tagline {
  text-transform: uppercase;
  font-size: 16px;
  line-height: 17px;
  font-weight: 600;
  letter-spacing: -0.6;
}

.button,
button {
  padding: 20px 60px;
  background: transparent;
  border-radius: 30px;
  border: 2px solid var(--color-black);
  font-size: 16px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: -0.48px;
  text-transform: uppercase;
  cursor: pointer;
  transition: 0.6s;
}
.button:hover,
button:hover {
  background: var(--color-black);
  color: var(--color-white);
}

.button--light {
  border-color: var(--color-white);
  color: var(--color-white);
}
.button--light:hover {
  background: var(--color-white);
  color: var(--color-black);
}

.header {
  padding: 30px 0;
}
.header__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__logo {
  background: none;
  z-index: 999;
}
.header__nav {
  display: flex;
  gap: 20px;
}
@media (max-width: 1024px) {
  .header__nav {
    display: none;
  }
}
.header__list {
  padding: 0;
  display: flex;
  align-items: center;
  gap: 20px;
}
.header__burger {
  display: none;
  font-size: 60px;
  z-index: 999;
}
@media (max-width: 1024px) {
  .header__burger {
    display: block;
  }
}

.mobile-menu {
  display: none;
  width: 100vw;
  max-height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99;
  background: var(--color-white);
  padding: 100px 0 100px 20px;
}
.mobile-menu__nav {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
  font-size: 45px;
  line-height: 60px;
}
.mobile-menu__list {
  padding: 0;
}

.open {
  display: block;
}

.stop-scroll {
  overflow: hidden;
}

.hero__title {
  max-width: clamp(21.875rem, 10.545rem + 42.65vw, 50rem);
}
.hero__title span {
  border-bottom: 4px solid var(--text-accent-light);
}
.hero__img {
  width: 100vw;
  height: auto;
  display: block;
  margin-left: -50vw;
  margin-top: 20px;
  left: 50%;
  position: relative;
}
.hero .row {
  display: flex;
  align-items: start;
  justify-content: space-between;
}
@media (max-width: 768px) {
  .hero .row {
    flex-direction: column;
    padding-top: 50px;
  }
}
.hero__description {
  max-width: clamp(18.75rem, 13.211rem + 20.85vw, 32.5rem);
}

.statistics__content .row {
  display: flex;
  padding-bottom: 20px;
  border-bottom: 3px solid var(--color-black);
}
@media (max-width: 768px) {
  .statistics__content .row {
    flex-direction: column;
    gap: 10px;
  }
}
.statistics__content .col {
  flex: 1;
  display: flex;
  align-items: end;
}
@media (max-width: 768px) {
  .statistics__content .col {
    flex-direction: column;
    align-items: start;
  }
}
.statistics__content .col p {
  margin: 0;
  font-size: clamp(7.5rem, -0.59rem + 16.85vw, 15rem);
  line-height: clamp(7.5rem, -0.59rem + 16.85vw, 15rem);
  letter-spacing: -15px;
}
.statistics__content .col span {
  padding-left: 5px;
  font-size: 16px;
  line-height: 17px;
  font-weight: 600;
  letter-spacing: -0.6px;
  text-transform: uppercase;
}

.projects__content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.projects__content .row {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.projects__content .row .col img {
  width: 100%;
}
.projects__content .row .col .project__title {
  padding-top: 10px;
  margin: 0;
  width: 100%;
  display: none;
}
@media (max-width: 768px) {
  .projects__content .row {
    flex-direction: column;
  }
  .projects__content .row .col {
    width: 100%;
    max-width: 600px;
  }
}

.info {
  padding: 60px 0 150px 0;
  background: #E6E2DD;
}
.info__content {
  display: flex;
  align-items: start;
  justify-content: space-between;
  gap: 20px;
}
@media (max-width: 768px) {
  .info__content {
    flex-direction: column;
    gap: 0;
  }
}
.info .col-rigth {
  padding-top: 30px;
}
.info__title {
  max-width: 520px;
}
.info__description {
  max-width: 530px;
}
.info__description span {
  border-bottom: 1px solid var(--color-black);
}
.info__button {
  margin-top: 30px;
}
@media (max-width: 768px) {
  .info .col-rigth {
    padding-top: 0;
  }
}

.services {
  margin: 0;
  padding: 60px 0 150px 0;
  background: var(--color-black);
  color: var(--color-gray);
}
.services .row {
  display: flex;
  align-items: start;
  gap: clamp(3.125rem, -3.617rem + 14.04vw, 9.375rem);
}
@media (max-width: 768px) {
  .services .row {
    flex-direction: column;
    gap: 20px;
  }
}
.services__title, .services__description {
  max-width: 550px;
}
.services__tagline {
  max-width: 550px;
}
@media (max-width: 768px) {
  .services__tagline {
    padding-top: 50px;
  }
}
.services__item {
  padding-bottom: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}
.services__item-number {
  font-size: 25px;
  padding: 7px 30px;
  border-radius: 30px;
  border: 2px solid var(--text-accent-dark);
  transition: 0.8s;
}
.services__item-title {
  transition: 0.8s;
}
.services__item:hover .services__item-number {
  background: var(--color-white);
  color: var(--color-black);
}
.services__item:hover .services__item-title {
  border-bottom: 1px solid var(--text-accent-light);
}

@keyframes scroll {
  100% {
    transform: translateX(-2675px);
  }
}
.portfolio-slider {
  height: 650px;
}
.portfolio-slider .portfolio-slide-track {
  animation: scroll 30s linear infinite;
  gap: 10px;
  width: 5500px;
  transition: all 0.4s;
}
.portfolio-slider .portfolio-slide-track:hover {
  animation-play-state: paused;
}
.portfolio-slider .portfolio-slide-track .portfolio-slide img {
  width: 535px;
  height: 560px;
  opacity: 0.8;
  transition: all 0.4s;
}
.portfolio-slider .portfolio-slide-track .portfolio-slide__title {
  margin: 0;
  padding: 5px 0;
  font-size: 28px;
  font-weight: 500;
  border-bottom: 3px solid transparent;
  transition: all 0.4s;
}
.portfolio-slider .portfolio-slide-track .portfolio-slide:hover img {
  opacity: 1;
  box-shadow: 0 0 10px black;
  transition: all 0.4s;
}
.portfolio-slider .portfolio-slide-track .portfolio-slide:hover .portfolio-slide__title {
  border-color: var(--color-black);
}

.about {
  padding: 0;
  padding-top: 80px;
  background: #F5F5F5;
}
.about__statistics {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 500px;
}
@media (max-width: 768px) {
  .about__statistics {
    margin: 0;
    padding-bottom: 50px;
  }
}
.about__years-stat {
  font-size: clamp(7.5rem, -0.59rem + 16.85vw, 15rem);
  line-height: clamp(5rem, -3.09rem + 16.85vw, 12.5rem);
  letter-spacing: -12px;
}
.about__years-title {
  font-weight: 600;
  margin: 0;
  margin-top: 20px;
}
.about__years-description {
  color: #9B9B9B;
  max-width: 330px;
}
.about__button {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}
.about__button span {
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  padding-bottom: 5px;
  border-bottom: 2px solid transparent;
  transition: 0.4s;
}
.about__button-icon {
  width: 30px;
  padding: 0 35px 0 0;
  border-radius: 30px;
  border: 2px solid black;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: end;
  transition: 0.5s;
  cursor: pointer;
}
.about__button-icon i {
  padding: 0;
  margin: 0;
  width: 0;
  font-size: 40px;
  transform: rotate(-30deg);
  transition: 0.5s;
}
.about__button:hover span {
  border-color: black;
  transition: 0.5s;
}
.about__button:hover .about__button-icon {
  background: black;
}
.about__button:hover i {
  transform: rotate(0);
  color: white;
  transition: 0.5s;
}
.about .row {
  display: flex;
  align-items: start;
  justify-content: space-between;
  padding-bottom: 60px;
}
@media (max-width: 768px) {
  .about .row {
    flex-direction: column;
  }
}
.about__title {
  max-width: 500px;
}
.about__description {
  max-width: 410px;
}
.about__description span {
  border-bottom: 3px solid var(--color-black);
}
.about__img {
  width: 100%;
}

.process {
  margin: 0;
  padding: 60px 0 180px 0;
  background: #F5F5F5;
}
.process__container {
  display: flex;
  align-items: start;
  gap: 90px;
}
@media (max-width: 768px) {
  .process__container {
    flex-direction: column;
    gap: 30px;
  }
}
.process__title {
  max-width: 680px;
}
.process__list {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 15px;
}
.process__item {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}
.process__item-number {
  background: transparent;
  border: 3px solid #D5D5D5;
  border-radius: 30px;
  padding: 10px 40px;
  color: #9B9B9B;
  transition: 0.6s;
}
@media (max-width: 425px) {
  .process__item-number {
    padding: 5px 20px;
  }
}
.process__item-title {
  color: var(--text-accent-dark);
  margin: 0;
  font-size: 32px;
  font-weight: 500px;
  width: clamp(12.5rem, -7.725rem + 42.13vw, 31.25rem);
  padding-bottom: 10px;
  border-bottom: 3px solid transparent;
  transition: 0.6s;
}
@media (max-width: 768px) {
  .process__item-title {
    font-size: 26px;
    width: 250px;
    padding: 0;
    border: none;
  }
}
@media (max-width: 425px) {
  .process__item-title {
    font-size: 22px;
    width: 180px;
  }
}
.process__item i {
  color: #D5D5D5;
  font-size: 30px;
  transition: 0.6s;
}
.process__item:hover .process__item-number {
  color: var(--color-black);
  border-color: var(--color-black);
}
.process__item:hover .process__item-title {
  color: var(--color-black);
  border-color: var(--color-black);
}
.process__item:hover i {
  color: var(--color-black);
}
.process__button {
  margin-top: 20px;
}

.articles {
  padding-bottom: 150px;
}
.articles__items {
  display: flex;
  gap: 10px;
  padding-bottom: 60px;
  border-bottom: 2px solid var(--color-black);
}
@media (max-width: 768px) {
  .articles__items {
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
    gap: 100px;
  }
}
.articles__item {
  max-width: 500px;
}
.articles__item img {
  width: 100%;
}
.articles__item .meta-date {
  padding-left: 5px;
  text-transform: uppercase;
  font-size: 16px;
  color: var(--text-accent-light);
}
.articles__item-title {
  margin: 0;
  margin-top: 5px;
  padding-left: 5px;
}
.articles__item-description {
  margin: 0;
  margin-top: 5px;
  padding-left: 5px;
  color: var(--text-accent-light);
}
.articles__button {
  margin-top: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
  cursor: pointer;
}
.articles__button span {
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  padding-bottom: 5px;
  border-bottom: 2px solid transparent;
  transition: 0.4s;
}
.articles__button-icon {
  width: 30px;
  padding: 0 35px 0 0;
  border-radius: 30px;
  border: 2px solid black;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: end;
  transition: 0.5s;
  cursor: pointer;
}
.articles__button-icon i {
  padding: 0;
  margin: 0;
  width: 0;
  font-size: 40px;
  transform: rotate(-30deg);
  transition: 0.5s;
}
.articles__button:hover span {
  border-color: black;
  transition: 0.5s;
}
.articles__button:hover .articles__button-icon {
  background: black;
}
.articles__button:hover i {
  transform: rotate(0);
  color: white;
  transition: 0.5s;
}
.articles__info {
  padding-top: 150px;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  max-width: 520px;
}
.articles__info-title {
  margin: 0;
  margin-top: 60px;
  font-weight: 700;
}
.articles__info-description {
  margin: 0;
  margin-top: 25px;
  font-weight: 600;
}

.email-section {
  padding: 60px 0 150px 0;
  background: var(--color-black);
  color: var(--color-gray);
}
.email-section__content {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 768px) {
  .email-section__content {
    flex-direction: column;
  }
}

.email-form {
  margin-top: 120px;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 30px;
}
@media (max-width: 768px) {
  .email-form {
    margin-top: 50px;
  }
}
.email-form .name__input,
.email-form .email__input,
.email-form .budget__input {
  width: 100%;
  height: 40px;
  background: transparent;
  border: 0;
  border-bottom: 2px solid #5F5F5F;
  caret-color: #D5D5D5;
  color: white;
  font-size: 32px;
  font-weight: 400;
  transition: all 0.4s;
}
.email-form .name__input:focus,
.email-form .email__input:focus,
.email-form .budget__input:focus {
  border-color: #D5D5D5;
  transition: all 0.4s;
  outline: none;
}
.email-form .name__input:focus::-moz-placeholder, .email-form .email__input:focus::-moz-placeholder, .email-form .budget__input:focus::-moz-placeholder {
  color: transparent;
}
.email-form .name__input:focus::placeholder,
.email-form .email__input:focus::placeholder,
.email-form .budget__input:focus::placeholder {
  color: transparent;
}
.email-form .name__input::-moz-placeholder, .email-form .email__input::-moz-placeholder, .email-form .budget__input::-moz-placeholder {
  color: #D5D5D5;
  font-size: 32px;
  font-weight: 400;
}
.email-form .name__input::placeholder,
.email-form .email__input::placeholder,
.email-form .budget__input::placeholder {
  color: #D5D5D5;
  font-size: 32px;
  font-weight: 400;
}
.email-form .textarea-title {
  font-size: 32px;
}
.email-form .message__input {
  width: 100%;
  height: 200px;
  background: transparent;
  border: 0;
  border-bottom: 2px solid #5F5F5F;
  caret-color: #D5D5D5;
  color: white;
  font-size: 32px;
  font-weight: 400;
  margin-top: 10px;
  margin-bottom: 30px;
  transition: all 0.4s;
}
.email-form .message__input:focus {
  border-color: #D5D5D5;
  transition: all 0.4s;
  outline: none;
}
.email-form .form__button {
  margin-top: 50px;
}

.footer {
  background: var(--color-black);
  color: var(--color-gray);
}
.footer__content {
  padding: 20px 0 60px 0;
  border-top: 1px solid var(--text-accent-dark);
  display: flex;
  flex-wrap: wrap;
  align-items: start;
  gap: 100px;
}
@media (max-width: 768px) {
  .footer__content {
    align-items: center;
    justify-content: space-between;
    gap: 50px;
  }
}
.footer__list {
  display: flex;
  align-items: center;
  gap: 20px;
}
@media (max-width: 768px) {
  .footer__list {
    flex-direction: column;
    align-items: start;
  }
}
.footer__contact {
  max-width: 500px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
@media (max-width: 768px) {
  .footer__contact {
    max-width: 350px;
  }
}
.footer__social-list {
  display: flex;
  align-items: center;
  gap: 20px;
}/*# sourceMappingURL=main.css.map */