.products {
    margin-top: 180px;
    padding: 0 15px;
}

.flex-row {
    display: flex;
    align-items: end;
    justify-content: center;
    gap: 10px;

    div {
        p {
            max-width: 340px;
            font-size: 28px;
            font-weight: 600;
            background-image: linear-gradient(var(--gray), var(--black));
            background-position: 0% 100%;
            background-repeat: no-repeat;
            background-size: 0% 2px;
            transition: background-size .4s;
            transition: 0.4s ease-in-out;
        }

        &:hover p {
            background-size: 100% 2px;
            transition: 0.4s ease-in-out;
        }
    }
}

.product-mid {
    height: 780px;
    max-width: 355px;
}

.product-big {
    height: 800px;
    width: 710px;
    background-image: url('/static/img/products/gambit.png');
    background-repeat: no-repeat;
    position: relative;

    p {
        position: absolute;
        bottom: 7%;
        left: 8%; 
    }
}

.product-big.two {
    background-image: url('/static/img/products/accomplish.png');

    p {
        max-width: 500px;
        color: white;
    }
}

.product-sm {
    height: 480px;
    max-width: 355px;
    padding-bottom: 20px;
}



@media screen and (max-width: 1300px) {
    .flex-row {
        width: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        div {
            max-width: 100%;

            img {
                width: 100%;
            }
        }
    }


}