.articles {
    max-width: 1480px;
    margin: 0 auto;
    padding: 0 15px;
}

.articles__content {
    display: flex;
    flex-direction: column;
    padding: 180px 0;

    h2 {
        font-size: 56px;
        font-weight: 600;
    }
}


.articles-flex {
    padding: 60px 0;
    display: flex;
    align-items: start;
    gap: 10px;
    border-bottom: 2px solid black;


    .articles-item {
        max-width: 550px;
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 5px;
        cursor: pointer;

        img {
            width: 100%;
            height: 550px;
            opacity: 0.7;
            transition: all 0.4s;
        }

        span {
            text-transform: uppercase;
            font-size: 16px;
            font-weight: 500;
            color: #9B9B9B;
        }

        h3 {
            font-size: 32px;
            font-weight: 500;
            border-bottom: 2px solid transparent;
            transition: all 0.4s;
        }

        p {
            color: #9B9B9B;
            font-weight: 500;
        }

        &:hover {

            img {
                opacity: 1;
                box-shadow: 0 0 10px rgba($color: #000000, $alpha: 0.9);
                transition: all 0.4s;
            }

            h3 {
                border-color: #000000;
                transition: all 0.4s;
            }
        }
    }

    .articles-item.big {
        img {
            height: 700px;
        }
    }

    .articles-item.sm {
        max-width: 350px;

        img {
            height: 350px;
        }
    }
}

.btn-block {
    padding-top: 10px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    cursor: pointer;

    span {
        font-size: 18px;
        font-weight: 700;
        text-transform: uppercase;
        border-bottom: 2px solid transparent;
        transition: 0.4s;
    }

    .articles-btn {
        width: 60px;
        padding: 0 5px 0 0;
        border-radius: 25px;
        border: 2px solid black;
        background: transparent;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: 0.5s;
        cursor: pointer;

        i {
            padding: 0;
            margin: 0;
            width: 0;
            font-size: 40px;
            transform: rotate(-30deg);
            transition: 0.5s;
        }
    }

    &:hover {

        span {
            border-color: black;
            transition: 0.5s;
        }

        .articles-btn {
            background: black;
        }

        i {
            transform: rotate(0);
            color: white;
            transition: 0.5s;
        }

    }
}

.articles-text {
    max-width: 720px;
    margin-top: 200px;
    margin-left: auto;
    display: flex;
    flex-direction: column;
    gap: 60px;

    div {

        max-width: 610px;

        h2 {
            font-size: 56px;
            padding-bottom: 30px;
        }


    }

}

@media screen and (max-width:1024px) {

    .articles-flex {

        .articles-item {

            img {
                height: 400px;
            }

        }

        .articles-item.big {

            img {
                height: 500px;
            }

        }

        .articles-item.sm {

            img {
                height: 350px;
            }
        }
    }

}


@media screen and (max-width:768px) {

    .articles-flex {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 50px;

        .articles-item {

            img {
                height: 500px;
            }

        }

        .articles-item.big {

            img {
                height: 700px;
            }

        }

        .articles-item.sm {
            max-width: 550px;

            img {
                height: 450px;
            }
        }
    }

    .articles-text {
        margin: 0 auto;
        margin-top: 100px;

        div {

            h2 {
                font-size: 45px;
            }
        }

    }

}


@media screen and (max-width:425px) {

    .articles-flex {


        .articles-item {


            h3 {
                font-size: 25px;
            }

            p {
                font-size: 18px;
            }

        }

        .articles-item.big {

            img {
                height: 500px;
            }

        }

    }

    .articles-text {

        div {

            h2 {
                font-size: 30px;
            }
        }

    }

}