.services {
    background: #151515;
}

.services__content {
    max-width: 1480px;
    margin: 0 auto;
    padding: 60px 15px 180px 15px;
    display: flex;
    flex-direction: column;
    gap: 50px;
    color: #D5D5D5;
}

.services-row {
    display: flex;
    align-items: start;
    flex-wrap: wrap;
    gap: 130px;

    h2 {
        font-size: 56px;
        max-width: 600px;
        font-weight: 500;

        span {
            color: #5F5F5F;
        }
    }

    p {
        padding-top: 30px;
        max-width: 530px;
    }


}

.services-row.two {
    gap: 280px;

    p {
        text-transform: uppercase;
        max-width: 450px;
        font-size: 16px;
    }

}


.services-row.two .services-block {
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 10px;

    .services-item {
        display: flex;
        align-items: center;
        gap: 15px;

        .number {
            background: transparent;
            border: 3px solid #5F5F5F;
            border-radius: 30px;
            padding: 10px 40px;
            color: #D5D5D5;
            transition: all 0.4s ease-in-out;
        }

        p {
            padding: 0;
            font-size: 28px;
            border-bottom: 2px solid transparent;
            transition: all 0.4s ease-in-out;
        }

        &:hover {

            .number {
                background: #5F5F5F;
                transition: all 0.4s ease-in-out;
            }

            p {
                border-color: #D5D5D5;
                transition: all 0.4s ease-in-out;
            }

        }
    }


}

@media screen and (max-width: 1305px) {

    .services-row {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 30px;

        .services-block {
            padding: 0;
        }

        h2 {
            text-align: center;
        }

        div p {
            padding: 0;
        }
    }

    .services-row.two {
        
        gap: 10px;

        p {
            text-align: center;
        }


    }
}

@media screen and (max-width: 768px) {
    
    .services-row {

        h2 {
            font-size: 40px;
            text-align: left;
            width: 100%;
        }

        p {
            width: 100%;
        }
    }

    .services-row.two {

        .services-block {

            .services-item p {
                font-size: 20px;
            }
        }
    }
}