.footer {
    background: #151515;
    color: #D5D5D5;

    .footer__content {
        max-width: 1480px;
        margin: 0 auto;
        padding: 10px 15px 60px 15px;
        border-top: 2px solid #5F5F5F;

        display: flex;
        align-items: start;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 20px;

        .footer-nav {
            display: flex;
            align-items: center;
            gap: 15px;
            flex-wrap: wrap;

            .nav__item {
                font-size: 25px;
                font-weight: 500;
                color: #D5D5D5;

                background-image: linear-gradient(#D5D5D5, #D5D5D5);
                background-position: 0% 100%;
                background-repeat: no-repeat;
                background-size: 0% 2px;
                transition: background-size .4s;
                transition: 0.4s ease-in-out;

                &:hover {
                    background-size: 100% 2px;
                    transition: 0.4s ease-in-out;
                }
            }

            .nav__item.nav-active {
                border-bottom: 2px solid #D5D5D5;
            }
        }
    }
}

.contact {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
    color: #D5D5D5;


    h3 {
        max-width: 410px;
        font-weight: 400;
    }

    a,
    .messengers a {
        color: #D5D5D5;

        background-image: linear-gradient(#D5D5D5, #D5D5D5);
        background-position: 0% 100%;
        background-repeat: no-repeat;
        background-size: 0% 2px;
        transition: background-size .4s;
        transition: 0.4s ease-in-out;

        &:hover {
            background-size: 100% 2px;
            transition: 0.4s ease-in-out;
        }
    }

    .messengers {
        display: flex;
        align-items: center;
        gap: 15px;
    }
}

@media screen and (max-width:768px) {

    .footer {

        .footer__content {
            gap: 40px;
        }
    }
}

@media screen and (max-width:425px) {

    .footer {

        .footer__content {
            
            .footer-nav {

                .nav__item {

                    font-size: 20px;
                }
            }

            .contact {

                a {
                    font-size: 18px;
                }
            }
        }
    }
}